/* line 3, ../sass/secure.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  background-color: #F0E9DC;
}

/* line 10, ../sass/secure.scss */
.small-text {
  font-size: 0.7em;
}

/* line 14, ../sass/secure.scss */
header {
  margin: 0;
  padding: 0;
  background: #CCC1B8;
}

/* line 20, ../sass/secure.scss */
.logo {
  display: block;
  padding: 18px 0 18px 60px;
}
/* line 23, ../sass/secure.scss */
.logo img {
  height: 40px;
}

/* line 28, ../sass/secure.scss */
form {
  background-color: white;
  display: block;
  width: 40%;
  margin: 30px auto;
  border: 1px solid #000;
}
/* line 35, ../sass/secure.scss */
form h1 {
  padding: 3px 5px;
  margin: 0;
  text-align: left;
  background-color: #AA2626;
  color: #F5F5F5;
  font-size: 1.2em;
}
/* line 44, ../sass/secure.scss */
form p {
  margin: 16px 0 0 40px;
}
/* line 45, ../sass/secure.scss */
form p.no-margin {
  margin: 5px 2px;
}
/* line 49, ../sass/secure.scss */
form p .helptext {
  display: block;
  margin: 3px 0 0 141px;
  font-size: 0.7em;
}
/* line 54, ../sass/secure.scss */
form p .capcha-text {
  border: 1px solid black;
  display: inline-block;
  padding: 3px 15px;
  margin-right: 5px;
  font-size: 0.9em;
}
/* line 61, ../sass/secure.scss */
form p .capcha-input {
  width: 110px;
}
/* line 66, ../sass/secure.scss */
form .helptext, form .policy {
  color: #A9A6A6;
}
/* line 70, ../sass/secure.scss */
form .policy {
  font-size: 0.6em;
  margin: 5px 0 16px 181px;
}
/* line 75, ../sass/secure.scss */
form label {
  display: inline-block;
  width: 136px;
  text-align: left;
  font-size: 1em;
}
/* line 82, ../sass/secure.scss */
form input {
  width: 55%;
  padding: 3px 5px;
  border: 1px solid black;
  margin: 0;
}
/* line 89, ../sass/secure.scss */
form input[type="submit"] {
  background: #AA2626;
  padding: 5px;
  color: #FFF;
  font-weight: bold;
  width: 135px;
  margin: 0 0 0 141px;
}
/* line 98, ../sass/secure.scss */
form input[type="submit"]:hover {
  cursor: pointer;
  background: #B94848;
}
/* line 103, ../sass/secure.scss */
form a {
  text-decoration: none;
  color: #000;
}
/* line 108, ../sass/secure.scss */
form a:hover {
  text-decoration: underline;
}
