h1{
	display: block;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	background-color: #AA2626;
	color: #F5F5F5;
	border: 1px solid #000;
}
p{
	text-align: center;
	display: block;
	width: 40%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}