body{
	text-align: center;
}
h1{
	display: block;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	background-color: #AA2626;
	color: #F5F5F5;
	border: 1px solid #000;
}
form{
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: left
}
form p{
	margin: 0;
	padding: 0.5em 0;
}
form label{
	display: block;
	width: 55%;
	margin: 0 auto;
	text-align: left;
}
form input{
	display: block;
	width: 55%;
	margin: 0 auto;
	text-align: left;
}
form input[type="submit"]{
	margin: 2em;
	background: #AA2626;
	padding: 0.5em 1em;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #000;
	width: 22%;
	text-align: center;
	display: inline-block;
}
form input[type="submit"]:hover{
	cursor: pointer;
	background: #B94848;
}
form a{
	text-decoration: none;
	color: #000
}
form a:hover{
	text-decoration: underline;
}
.helptext, .policy{
	color: #A9A6A6;
	font-size: 0.8em;
}
.helptext{
	float: left;
	margin-left: 25%;
}