{{ base }}
{% block title %}
<h1>My Listings</h1>
{% endblock %}
{% block content %}
<p>
    Listings go here.
</p>
<table class="listings">
    <tr>
        <th>Book Title</th>
        <th>Book ISBN</th>
        <th>Genre</th>
        <th>Condition</th>
        <th>Price</th>
        <th>For Sale</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.book.title }}</td>
        <td>{{ product.book.isbn }}</td>
        <td>{{ product.book.genre }}</td>
        <td>{{ product.condition }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.forsale }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
